@charset "utf-8";
/* CSS Document */
body{ font-size:14px; font-family:"\5FAE\8F6F\96C5\9ED1";}
body,div,form,p,img,ul,li,ol,dl,dt,dd,hr,h1,h2,h3,h4,h5,h6,span,i{margin:0; padding:0; border:0;}
ul,ol{ list-style:none;}
.clear{clear:both; font-size:0; line-height:0; height:0;}
.center { text-align:center;}
.txt_right { text-align:right;}

/* 导航 */
.navigation {width:260px; height:260px;position:fixed; left:0px;top:0px;margin-left:-50px;  margin-top:-50px; border-radius:130px; padding:0; background:rgba(11,25,60,0.9); z-index:101;
transform:rotate(30deg);
-moz-transform:rotate(30deg);
-webkit-transform:rotate(30deg);
-o-transform:rotate(30deg);
-ms-transform:rotate(30deg);
}
.nav { width:260px; height:260px; position:absolute; left:0px; top:0px; z-index:103;}
.nav li{ position:absolute;left:50%; top:50%;list-style:none; height:30px; width:80px; border:1px solid #FDFBF7; line-height:30px; text-align:right; padding:0 10px; border-radius:16px; z-index:103; background:rgba(255,255,255,0.2); color:#FCFBF6; cursor:pointer; font-size:16px;}
.nav li .nav_num{ float:left; color:#FFFFFF; font-weight:bold;}
.navigation .no_move {position:absolute;left:50%; top:50%;list-style:none; height:30px; width:80px; border:1px solid #FDFBF7; line-height:30px; text-align:right; padding:0 10px; border-radius:16px; z-index:102; background:#BA3C20;margin-left: 20px; margin-top: -15px; -webkit-transform: rotate(0deg);}

/* 正方体 */
.wrap1 { width:100%; height:100%; background:#000; position:fixed; z-index:5;background-image:radial-gradient(ellipse,#FFFFFF 0%,#FCFAF6 25%,#C3B696 100%);}
.container {position:fixed; z-index:10; left:50%; top:50%;margin-left:-22.5em; margin-top:-22.5em; width:45em; height:45em;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform:rotateX(0deg) rotateY(0deg);
	-webkit-transform:rotateX(0deg) rotateY(0deg);
	-moz-transform:rotateX(0deg) rotateY(0deg);
	-o-transform:rotateX(0deg) rotateY(0deg);
	-ms-transform:rotateX(0deg) rotateY(0deg);
}
/* -moz-transform:rotateX(-30deg) rotateY(68deg); -ms-transform:rotateX(-30deg) rotateY(68deg); transform:rotateX(-30deg) rotateY(68deg); */
.container .piece {width:45em; height:45em;left:50%; top:50%; margin-left:-22.5em; margin-top:-22.5em; position:absolute;
background-image:url(../images/pap.jpg); background-repeat:repeat; background-position:center center; background-size:100% 100%;
/*	background-image:radial-gradient(circle,#000000 0%,#E99500 50%,#FF643A 90%);*/
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;}
.front{
	transform:translateZ(22.5em);
	-webkit-transform:translateZ(22.5em);
	-moz-transform:translateZ(22.5em);
	-o-transform:translateZ(22.5em);
	-ms-transform:translateZ(22.5em);
}
.front_2 {width:45em; height:45em;left:50%; top:50%; margin-left:-22.5em; margin-top:-22.5em; position:absolute; background:#222222; color:#FFFFFF;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform:translateZ(22em);
	-webkit-transform:translateZ(22em);
	-moz-transform:translateZ(22em);
	-o-transform:translateZ(22em);
	-ms-transform:translateZ(22em);
}

.back {
	transform:translateZ(-22.5em) rotateY(180deg);
	-webkit-transform:translateZ(-22.5em) rotateY(180deg);
	-moz-transform:translateZ(-22.5em) rotateY(180deg);
	-o-transform:translateZ(-22.5em) rotateY(180deg);
	-ms-transform:translateZ(-22.5em) rotateY(180deg);
}
.left {
	transform:translateX(-22.5em) rotateY(-90deg);
	-webkit-transform:translateX(-22.5em) rotateY(-90deg);
	-moz-transform:translateX(-22.5em) rotateY(-90deg);
	-o-transform:translateX(-22.5em) rotateY(-90deg);
	-ms-transform:translateX(-22.5em) rotateY(-90deg);
}
.right {
	transform:translateX(22.5em) rotateY(90deg);
	-webkit-transform:translateX(22.5em) rotateY(90deg);
	-moz-transform:translateX(22.5em) rotateY(90deg);
	-o-transform:translateX(22.5em) rotateY(90deg);
	-ms-transform:translateX(22.5em) rotateY(90deg);
}
.top {
	transform:translateY(-22.5em) rotateX(90deg);
	-webkit-transform:translateY(-22.5em) rotateX(90deg);
	-moz-transform:translateY(-22.5em) rotateX(90deg);
	-o-transform:translateY(-22.5em) rotateX(90deg);
	-ms-transform:translateY(-22.5em) rotateX(90deg);
}
.bottom {
	transform:translateY(22.5em) rotateX(90deg) rotateY(180deg);
	-webkit-transform:translateY(22.5em) rotateX(90deg) rotateY(180deg);
	-moz-transform:translateY(22.5em) rotateX(90deg) rotateY(180deg);
	-o-transform:translateY(22.5em) rotateX(90deg) rotateY(180deg);
	-ms-transform:translateY(22.5em) rotateX(90deg) rotateY(180deg);
}


/* 内容部分 */
.sub_page {width:37em; height:37em; padding:4em;}
.sub_page p { font-size:16px; margin-top:1em; line-height:1.5em;}
.sub_page a { color:#000000;}
.sub_page .cont_table { width:100%; border-collapse:collapse;}
.sub_page .cont_table td { text-align:right; padding-right:1em; padding-top:1em; border-bottom:1px dashed #FFFFFF;}
.sub_page .cont_table .tb_right{ text-align:left;}
.sub_page .cont_table .tb_right ul { list-style:circle inside;}
.sub_page .cont_table .tb_right ul li { float:left; width:190px;}
.sub_page .cont_table .tb_right ul li a { color:#FFFFFF;}
.sub_page .cont_table .tb_right ul li a:hover { color:#FF3300;}
.sub_page .cont_table .insert_blank td { padding-top:8em;}
.sub_page .more { position:absolute; bottom:2em; right:2em; display:inline-block; width:14em; height:2em; border:1px solid #C5B795; text-align:center; line-height:2em; text-decoration:none; color:#FFFFFF; background-color:#3E2E2C; border-radius:6px; font-size:16px;}

.page1 .photo{ float:right; margin-left:15px; margin-bottom:15px;}
.page1 .radius { border-radius:1em;}

.page2 .over_y { width:37em; height:34em; overflow-y:auto;}
.page2 .p2_table { width:100%; border-collapse:collapse;}
.page2 .p2_table td { text-align:right; padding:0.5em; border-bottom:1px solid #683D13;border-top:1px solid #683D13; vertical-align:top;}
.page2 .p2_table .tb_right{ text-align:left;}

.page3 ul{ list-style:none;}
.page3 ul li{ width:12em; height:12em; float:left; border:1px solid rgba(255,255,255,0.2); text-align:center;}
.page3 ul li img{ width:10em; height:10em; border-radius:1em;}
.page3 ul li span{ display:block;}

/* 弹层 */
#cover{width:100%; height:100%; z-index:200; background:rgba(0,0,0,0.6); position:fixed; left:0; top:0;display:none;}
.add {width:512px; height:512px;position:fixed;z-index:201;left:50%; margin-left:-256px; top:50%; margin-top:-256px;display:none;}
.add .close_btn a { position:absolute; right:-50px; top:0px; font-size:46px; color:#000000; text-decoration:none; line-height:46px; display:block; text-align:center; width:50px; height:50px; background:#FFFFFF;}